.logoTitle {
  color: black;
  display: flex;
  align-items: center;
}

.green {
  color: green;
}

.greenUnderline {
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 2px;
}
